<h1>New stock</h1>
<form action="/stocks" method="POST">
  <label for="company">Company <input type="text" name="company"></label>
  <label for="symbol">Symbol <input type="text" name="symbol"></label>
  <label for="current_price">Current price <input type="text" name="current_price"></label>
  <input type="submit" value="Create">
</form>